.vs/
bin/
obj/
/source/Domain.RentalInventory/Domain.RentalInventory.WebApi/.xml
/source/Domain.RentalInventory/Domain.RentalInventory/Domain.RentalInventory.xml
/source/Domain.RentalInventory/Domain.RentalInventory.Test.Common/Domain.RentalInventory.Test.Common.xml
/source/Domain.RentalInventory/Domain.RentalInventory.WebApi.IntegrationTests/Domain.RentalInventory.WebApi.IntegrationTests.xml
/source/Domain.RentalInventory/Domain.RentalInventory.UnitTests/Domain.RentalInventory.UnitTests.xml
/source/Domain.RentalInventory/Domain.RentalInventory.Database/Domain.RentalInventory.Database.xml
/source/Domain.RentalInventory/Domain.RentalInventory.WebApi/Domain.RentalInventory.WebApi.xml
